<div class="row">
  <div class="col s8">
    <div class="card-panel">
      <h4><%= @salon.name %></h4>
      <p>Phone: <%= @salon.phone %> </p>
      <p>Address: <%= @salon.address %></p>
    </div>
  </div>
  <div class="col s4">
    <div class="card-panel">
      <h4><strong>Hours:</strong></h4>
      <p> <%= @salon.hours %> </p>
    </div>
  </div>
  <div class="col s12">
    <div class="card-panel">
      <h4><strong>Services:</strong></h4>
      <% @salon.services.each do |service| %>
        <ul>
          <li> <%= service.name %> </li>
        </ul>
      <% end %>
    </div>
  </div>
    <div class="col s12">
      <div class="card-panel">
        <h4><strong>Stylists:</strong></h4>
        <% @salon.stylists.each do |stylist| %>
          <ul>
            <li><a href= <%= "/stylists/#{stylist.id}" %> > <%= stylist.name %> </a></li>
          </ul>
        <% end %>
      </div>
  </div>
