<div class="row">
  <div class="col m8 s12">
    <div class="card-panel">
      <div class="row">
        <div class="col m6 s12">
          <h4><%= @stylist.name %></h4>
          <div class="img-container">
            <img src="http://thekinkteam.com/wp-content/uploads/2017/01/woman-hair-stylist-1.jpg" />
          </div>
        </div>
        <div class="col m6 s12">
          <h4>Services: <h4>
            <% @stylist.services.each do |service| %>
              <ul>
                <li><%= service.name %></li>
              </ul>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col m4 s12">
    <div class="card-panel">
      <h4>Salon Info:</h4>
      <a href= <%="/salons/#{@stylist.salon.id}" %> ><p><%= @stylist.salon.name %></p></a>
      <p><strong>Hours:</strong><%= @stylist.salon.hours %></p>
      <p><strong>Phone:</strong><%= @stylist.salon.phone %></p>
      <p><strong>Address:</strong><%= @stylist.salon.address %></p>
    </div>
  </div>
</div>
