<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="card-block">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3><%= @stylist.name %></h3>
          <div class="img-container">
            <img src="http://thekinkteam.com/wp-content/uploads/2017/01/woman-hair-stylist-1.jpg" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3>Services: <h3>
            <% @stylist.services.each do |service| %>
              <ul>
                <li><%= service.name %></li>
              </ul>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card-block">
      <h3>Salon Info:</h3>
      <a href= <%="/salons/#{@stylist.salon.id}" %> ><p><%= @stylist.salon.name %></p></a>
      <p>Hours: <%= @stylist.salon.hours %></p>
      <p>Phone: <%= @stylist.salon.phone %></p>
      <p>Address: <%= @stylist.salon.address %></p>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card-block">
      Availability to come...
    </div>
  </div>
</div>
